<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.vodoji"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.vodoji.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.vodoji.GameActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="fr.vodoji.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="fr.vodoji.ActHightScores"
            android:label="@string/title_activity_hight_scores" >
        </activity>
        <activity
            android:name="fr.vodoji.LevelSelect"
            android:label="@string/title_activity_level_select" >
        </activity>
        <activity
            android:name="fr.vodoji.HighscoreAdd"
            android:label="@string/title_activity_highscore_add" >
        </activity>
    </application>

</manifest>
